*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box; /* what is this? */
  /* font-family: 'Gayathri', sans-serif;
  font-family: 'Open Sans', sans-serif; */
  font-family: 'Roboto', sans-serif;
  
}
body{
  /* background-color:  rgb(161, 159, 136); */
  background-image: url(img/bw.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #353434;
  color: white;
  /* width: 100%; */ 
  border-radius: 10px; /*why doesnt it work?, it does if the navbar is not wrapped in a parent */
}

.logo {
  font-size: 1.5rem;
  margin: .7rem ;
  color: white;
}
.nav-links ul {
  display: flex;
}
 .nav-links {
  list-style: none;
  display: flex;
 }
 .nav-links li {
  display: inline-block;
  padding: 5px 10px;
  color: white;
}
.nav-item:hover {
  background-color: rgb(87, 84, 81);
}
/* responsive navbar */
.toggle-btn {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 23px;
  height: 21px;
}

.toggle-btn .bar {
  height: 4px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.toggle-btn:hover .bar{
  background-color: rgb(161, 159, 136)
}

@media (max-width: 600px) {
  .toggle-btn {
    display: flex;
  }
  .nav-links {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links ul {
    width: 100%;
    flex-direction: column;
  }

  .nav-links li {
    text-align: center;
  }

  .nav-links li a {
    padding: .5rem 1rem;
  }

  .nav-links.active {
    display: flex;
  }
}

 /* end of responsive navbar */

 a {
   color: white;
 }
/* main container style */
.main-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap:.3rem;
  margin-bottom: 200px;
 }
 
 .intro{
   margin-left: 20px;
   margin-top: 20px;
 }
 
 .container {
  width:100%;
 
 }
 #intro {
   margin-left: 30px;
   color: #0a0a0a;
   font-size: 23px;
 }
 
 .article {
   background-color: rgba(13, 13, 13, 0.55);
   border-radius: 12px;
   color: white;
   margin-left: 10px;
   margin-right: 10px;
   padding: 10px;
   font-size: 1rem;
   line-height: 1;
 }
 .img-container {
   margin-top: 135px;
   padding:10px;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
   grid-gap:.5rem;
   
 } 
 .preview-img {
   display: inline-block;
   position: relative; /*this with inline-block and z index to pop images out when we hover */
   height: 230px;
   border-radius: 9px;
   transform: scale(1);
   transition: .5s ease-in-out;
   z-index: 1;
 }
  .preview-img:hover {
   transform: scale(1.7);
   z-index: 2; 
 }


footer {
  background-color: rgb(161, 159, 136);
  border-radius: 12px;
  margin-bottom: 20px;
  padding: 10px;
  height:50px;
}


/* sale page/Available prints for sale */

.sale-intro{
  margin: 30px 0px 20px 15px;
}

.gallery{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  
}

.img-sale {
  display: inline-block;
  position: relative;
  height: 270px;
  border-radius: 9px;
  filter: grayscale(100%);
	transform: scale(1);
  transition: .5s ease-in-out;
  z-index: 1;
}
.img-sale:hover {
  filter: grayscale(0%);
  transform: scale(1.5);
  z-index: 2;
}
h5 {
  background-color: rgba(13, 13, 13, 0.55);
  border-radius: 12px;
  color: white;
}


/* contact page */

.contact-intro {
  margin: 10px 0px 10px 10px;
}

.contact {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 30px;
}
article {
  margin-top: 3.6rem;
  margin-left: 1rem;
  background-color: rgba(13, 13, 13, 0.50);
  color: white;
}

.contact-img {
  display: inline-block;
  position: relative; 
  width: 100%;
  margin-top: 3.6rem;
  border-radius: 9px;
  filter: grayscale(100%)
}



