.contact {
  /* padding: 4em 0; */
  display: flex;
}

.contact-intro {
  margin: 1rem 0 1rem 1rem;
  font-size: 1.8rem;
}

/* .contact {
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 50px;
  } */
article {
  margin-top: 3.6rem;
  margin-left: 1.5rem;
  margin-right: 2rem;
  padding: 2rem;
}
.contact-text {
  padding: 2rem;
  font-size: 1.2rem;
}
.contact-img {
  max-width: 500px;
  position: relative;
  width: 100%;
  margin-left: 2rem;
  padding: 2rem;
  border-radius: 9px;
  filter: grayscale(100%);
}
